@font-face {
  font-family: Roboto-Light;
  src: url("src/assets/fonts/roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto-Medium;
  src: url("src/assets/fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("src/assets/fonts/roboto/Roboto-Bold.ttf");
}

.titulo {
  font-size: 2.45rem;
  font-family: Roboto-Bold;
  color: #191919;
}

.agregar-datos {
  font-family: Roboto-Medium, arial;
  font-size: large;
  color: #204b75;
}

.agregar-datos:hover {
  text-decoration: underline;
}

.datos-titulo {
  font-family: Roboto-Light;
  font-size: large;
}

.nombres-titulo {
  font-family: Roboto-Bold;
  font-size: x-large;
}

.line-height-normal {
  line-height: normal;
}

.full-width-height {
  width: 100%;
  height: 100%;
}

.float-right {
  float: right;
}

.divider {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.btn {
  display: inline-block;
  font-family: Roboto-Bold;
  font-weight: 400;
  color: #ffffff;
  background-color: #51799f;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 2.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  background-color: #344c64;
  border-color: #344c64;
  color: white;
}

.margen {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.alinear-centro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.vertical-align {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
.margen2 {
  margin-top: -0.4rem;
}
.set-pointer:hover {
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .set-size-logo {
    max-width: 106px;
    max-height: 64px;

    display: block;

    margin-left: auto;
    margin-right: auto;
  }
  .sm-text-center {
    text-align: center;
  }
  .titulo {
    font-size: 2.0962499rem;
  }
}

@media all and (max-width: 520px) {
  .titulo {
    font-size: 2rem;
  }
}
@media all and (max-width: 1100px) and (min-width: 767px) {
  .set-size-logo {
    max-width: 106px;
    max-height: 64px;
    display: block;
    margin-right: -70px;
    margin-bottom: 5px;
  }
}

@media all and (min-width: 1100px) and (max-width: 1500px) {
  .set-size-logo {
    max-width: 145px;
    max-height: 88px;
    display: block;

    margin-right: -70px;
    margin-bottom: 5px;
  }
}
