<div class="pb-4 pt-3 px-5">
  <h1 mat-dialog-title class="titulo text-center mt-3 pb-3">Envía un mensaje</h1>
  <form (ngSubmit)="sendEmail($event)">
    <div class="row">
      <ng-container *ngIf="user.empresa; then nombreEmpresa ; else nombreEgresado"></ng-container>
      <ng-template #nombreEmpresa>
        <input hidden name="from_name" value="{{user.empresaName}}">
      </ng-template>
      <ng-template #nombreEgresado>
        <input hidden name="from_name" value="{{user.firstName}}&nbsp;{{user.lastName}}">
      </ng-template>
      <input hidden name="to_name" value="{{nombreAContactar}}">
      <input hidden name="to_email" value="{{emailAContactar}}">
      <input hidden name="reply_to" value="{{user.email}}">
      <div class="col-12">
        <div class="form-row">
          <mat-form-field class="full-width-height">
            <mat-label>Mensaje</mat-label>
            <textarea matInput name="message"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <button mat-button class="btn btn-dark btn-block" type="submit">Enviar</button>
      </div>
    </div>
    <div *ngIf="result == 'OK'" class="row">
      <h2 class="text-center">Se envió correctamente el email</h2>
    </div>
  </form>
</div>
