<div class="pb-4 pt-3 px-5">
  <h1 mat-dialog-title class="titulo text-center mt-3 pb-3">Agregue un administrador</h1>
  <form [formGroup]="loginForm" (ngSubmit)="agregarAdmin()" class="mt-5 mb-3">
    <div class="row">
        <mat-form-field class="full-width-height">
          <mat-label>email</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-error *ngIf="emailPattern.invalid && !emailPattern.touched">
            Por favor, ingrese un email válido.
          </mat-error>
          <mat-error *ngIf="emailPattern.touched" >
            El email es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
    </div>
    <mat-card-actions class="mb-5">
      <div class="row">
        <div class="alinear-centro mt-4 text-center center">
          <button type="submit" class="text-center center">Agregar</button>
        </div>
      </div>
    </mat-card-actions>
  </form>
</div>
