<app-toolbar></app-toolbar>
<div class="margen container-fluid">
  <div class="sm-text-center offset-md-1 set-size-logo">
    <img src="../../assets/images/titulo.png" class="img-fluid" />
  </div>
  <mat-card class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 mb-5 mt-5">
    <mat-card-title class="text-center mt-4 mb-4">
      <h1 class="line-height-normal titulo">
        Agregue las experiencias y capacitaciones que tuvo
      </h1>
    </mat-card-title>
    <mat-card-subtitle class="subtitulo line-height-normal text-center mt-1">
      Inrgesa tus datos para modificar su perfil de egresado<br />y que los demas
      vean todas sus capacidades
    </mat-card-subtitle>
    <form [formGroup]="capacitacionForm" (ngSubmit)="onAddCapacitation()" class="mt-1 mb-3">
      <mat-vertical-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Por favor, ingrese sus datos </ng-template>
            <div class="form-row mb-2">
              <div class="col-12">
                <div class="margen row">
                  <div class="col-12 col-md-6 set-pointer" (click)="setFirstFormGroupEgresado()">
                    <!-- <div class="col-12 col-md-6 set-pointer" (click)="setFirstFormGroupEgresado()"
                    [ngStyle]="{'background-color': backgroundColorEgresado}"> -->
                    <!-- <input type="radio"/> -->
                    <img mat-card-image src={{srcImgEgresado}} alt="Eleccion egresado"
                      class="img-fluid set-size-image" value="egresado">
                    <!-- <div class="alinear-centro mt-5">
                      <button type="submit" class="btn btn-dark alinear-centro">Egresado</button>
                    </div> -->
                  </div>
                  <div class="margen-pantalla-chica col-12 col-md-6 set-pointer" (click)="setFirstFormGroupEmpresa()">
                    <!-- <div class="margen-pantalla-chica col-12 col-md-6 set-pointer" (click)="setFirstFormGroupEmpresa()"
                    [ngStyle]="{'background-color': backgroundColorEmpresa}"> -->
                    <!-- <input type="radio"/> -->
                    <img mat-card-image src={{srcImgEmpresa}} alt="Eleccion empresa"
                      class="img-fluid set-size-image">
                    <!-- <div class="alinear-centro mt-5">
                    <button type="submit" class="btn btn-dark">Empresa</button>
                  </div> -->
                  </div>
                </div>
              </div>
              <!-- <div class="offset-md-4 col-md-4 col-12">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>A que area se relaciona su experiencia/capacitacion</mat-label>
                  <input matInput formControlName="relacionDeCapacitacion" type="text" />
                  <mat-error *ngIf="relacionDeCapacitacionPattern.hasError('required')">
                    El nombre es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div> -->
            </div>
            <!-- <div class="form-row mb-2">
              <div class="offset-md-2 col-md-4 col-12">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Apellido</mat-label>
                  <input matInput formControlName="lastName" type="text" />
                  <mat-error *ngIf="lastNamePattern.hasError('required')">
                    El apellido es <strong>requerido</strong>
                  </mat-error>
                  <mat-error *ngIf="
                      lastNamePattern.hasError('pattern') ||
                      lastNamePattern.hasError('minlength')
                    ">
                    El apellido solo esta compuesto por
                    <strong>numeros</strong> y debe tener minimo 2
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-12">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Sexo</mat-label>
                  <mat-select formControlName="gender">
                    <mat-option selected="selected" hidden value="">Elija una opcion</mat-option>
                    <mat-option value="Masculino">Masculino</mat-option>
                    <mat-option value="Femenino">Femenino</mat-option>
                    <mat-option value="Prefiero no decirlo">Prefiero no decrilo</mat-option>
                  </mat-select>
                  <mat-error *ngIf="genderPattern.hasError('required')">
                    El Sexo es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-row mb-2">
              <div class="offset-md-2 col-md-4 col-12">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Fecha de Nacimiento</mat-label>
                  <input matInput formControlName="birthday" [matDatepicker]="picker" [max]="maxDate" />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="birthdayPattern.hasError('matDatepickerParse')">
                    La fecha de nacimiento no es <strong>valida</strong>
                  </mat-error>
                  <mat-error *ngIf="
                      birthdayPattern.hasError('required') &&
                      !birthdayPattern.hasError('matDatepickerParse')
                    ">
                    La fecha es <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-12">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Fecha de Egreso</mat-label>
                  <mat-select formControlName="yearDeEgreso">
                    <mat-option selected="selected" hidden value="">Elija una opcion</mat-option>
                    <mat-option *ngFor="let year of years | async" [value]="year.value">
                      {{ year.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="egresoPattern.hasError('required')">
                    El año de egreso es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div> -->
            <div>
              <button class="btn text-center mt-3" mat-button matStepperNext>
                Siguiente
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Complete los datos restantes sobre la capacitacion/experiencia</ng-template>
            <div class="form-row mb-2">
              <div class="offset-md-2 col-md-4 col-12">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Capacitacion</mat-label>
                  <input matInput formControlName="capacitacion" type="text" />
                  <mat-error *ngIf="capacitacionPattern.hasError('required')">
                    Una descripcion de la capacitacion es <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-12">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Area relacionada</mat-label>
                  <mat-select formControlName="areaRelacionada">
                    <mat-option selected="selected" hidden value="">Elija una opcion</mat-option>
                    <mat-option value="Computacion">Computación</mat-option>
                    <mat-option value="Mecanica">Mecánica</mat-option>
                  </mat-select>
                  <mat-error *ngIf="areaRelacionadaPattern.hasError('required')">
                    El area con la que se relaciona la capacitacion es <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-row mb-2">
              <div class="offset-md-2 col-md-4 col-12">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Año de Inicio</mat-label>
                  <mat-select formControlName="yearDeInicio">
                    <mat-option selected="selected" hidden value="">Elija una opcion</mat-option>
                    <mat-option value="2020">2020</mat-option>
                    <mat-option value="2019">2019</mat-option>
                  </mat-select>
                  <mat-error *ngIf="yearDeInicioPattern.hasError('required')">
                    El año de inicio es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-12">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Año de finalizacion</mat-label>
                  <mat-select formControlName="yearDeFinal">
                    <mat-option selected="selected" hidden value="">Elija una opcion</mat-option>
                    <mat-option value="Actualidad">Actualidad</mat-option>
                    <mat-option value="2020">2020</mat-option>
                    <mat-option value="2019">2019</mat-option>
                  </mat-select>
                  <mat-error *ngIf="yearDeFinalPattern.hasError('required')">
                    El año de finalizacion es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="offset-md-2 col-md-4 col-12">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Lugar de capacitacion</mat-label>
                  <input matInput type="text" formControlName="lugarDeCapacitacion" />
                  <mat-error *ngIf="lugarDeCapacitacionPattern.hasError('required')">
                    El lugar de la capacitacion es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>
      <div class="form-row" *ngIf="errorMessage">
        <div class="offset-2 col-8">
          <small class="form-text alert-danger text-center mt-2 pt-1 pb-1">
            {{ errorMessage }}
          </small>
        </div>
      </div>
      <div class="form-row">
        <div class="text-center offset-md-8 col-md-4">
          <button type="submit" mat-raised-button class="btn-agregar">
            Agregar experiencias
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
