<form [formGroup]="parameterFormGroup" (ngSubmit)="searchWithFirstName()" class="mt-2 mb-3">
  <mat-card-header class="text-center alinear-centro">
    <mat-card-title class="text-center alinear-centro mt-2 mb-4">
      <h1 class="text-center alinear-centro line-height-normal titulo">
        Encuentra a los mejores egresados
      </h1>
    </mat-card-title>
  </mat-card-header>
  <div class="form-row margen-divider">
    <div class="offset-md-1 col-md-8">
      <mat-form-field class="full-width-height">
        <mat-label>Nombre de Egresado</mat-label>
        <span matPrefix>
          <mat-icon>search</mat-icon>&nbsp;
        </span>
        <input type="text" matInput (change)="getSearchData($event)" />
      </mat-form-field>
    </div>
    <div class="sm-text-center col-md-2">
      <button type="submit" mat-raised-button class="btn">
        Buscar
      </button>
    </div>
  </div>
</form>
