<app-toolbar></app-toolbar>
<div class="margen container-fluid">
  <!-- <div class="sm-text-center offset-md-1 set-size-logo">
    <img src="../../assets/images/titulo.png" class="img-fluid">
  </div> -->
  <!-- <mat-card class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 mb-3 ">
    <div class="row">
      <div class="col-12 col-md-3 mt-3 md-margen">
        <img class="offset-md-2 col-md-9 foto rounded-circle" src="{{
            user.photoURL ? user.photoURL : '../../../assets/images/user8.png'
          }}" alt="{{ user.firstName }}" />
      </div>
      <div class="col-12 col-md-8 px-0 margin-top-content mb-4">
        <div class="row">
          <div class="col-10 col-md-11 mt-4">
            <h1 class="line-height-normal sm-text-left bienvenido vertical-align">
              Bienvenido {{ user.empresaName}}
            </h1>
          </div>

          <div class="col-12">
            <p class="subtitulo-bienvenido mt-3 mb-3">
              <strong>En esta página podrás encontrar a los egresados indicados y contactarlos para que formen parte de tu equipo.</strong>
            </p>
          </div>

        </div>
      </div>
    </div>
  </mat-card> -->
  <mat-card class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 mb-3 ">
    <div class="row">
      <div class="col-12 col-md-3 alinear-centro sm-text-center">
        <img class="col-12 alinear-centro sm-text-center col-md-9 foto rounded-circle" src="{{
            user.photoURL ? user.photoURL : '../../../assets/images/user8.png'
          }}" alt="{{ user.empresaName }}" />
      </div>
      <div class="col-12 col-md-8 px-0 margin-top-content margin-bottom-content ">
        <div class="row">
          <div class="col-10 col-md-11">
            <h1 class="line-height-normal sm-text-left bienvenido vertical-align">
              Bienvenido, {{ user.empresaName }}
            </h1>
          </div>
          <div class="col-12 d-none d-sm-block">
            <p class="subtitulo-bienvenido line-height-normal mt-2 mb-3">
              <strong>En esta página podrás encontrar a los egresados indicados y contactarlos para que formen parte de tu equipo.</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 mb-5 mt-3">
    <ng-container *ngIf="resultadosDeBusqueda != null || resultadosDeBusqueda != undefined; then mostrarResultados; else barraDeBusqueda"></ng-container>
    <ng-template #barraDeBusqueda>
      <form [formGroup]="firstNameFormGroup" (ngSubmit)="searchWithFirstName()" class="mt-2 mb-3">
        <mat-card-header class="text-center alinear-centro">
          <mat-card-title class="text-center alinear-centro mt-2 mb-4">
            <h1 class="text-center alinear-centro line-height-normal titulo">
              Encuentra a los mejores egresados
            </h1>
          </mat-card-title>
        </mat-card-header>
        <div class="form-row margen-divider">
          <div class="offset-md-1 col-md-8">
            <mat-form-field class="full-width-height">
              <mat-label>Nombre de Egresado</mat-label>
              <span matPrefix>
                <mat-icon>search</mat-icon>&nbsp;
              </span>
              <input type="text" matInput placeholder="Juan Perez" (change)="getSearchData($event)" />
            </mat-form-field>
          </div>
          <div class="sm-text-center col-md-2">
            <button type="submit" mat-raised-button class="btn">
              Buscar
            </button>
          </div>
        </div>
      </form>
      <form [formGroup]="optionsFormGroup" (ngSubmit)="getResultsWithOptions()" class="mt-2 mb-3">
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-title class="text-center alinear-centro mt-4 mb-1">
          <h1 class="text-center alinear-centro line-height-normal titulo-opciones">
            ¿Problemas encontrando al egresado indicado?
          </h1>
        </mat-card-title>
        <mat-card-subtitle class="text-center alinear-centro subtitulo mb-5">No pasa nada, busca a los egresados segun las
          preferencias que quieras</mat-card-subtitle>
        <div class="row">
          <div class="col-md-2">
            <img src="../../../../assets/images/gorrolupa.png" class=" img-fluid ml-5 d-none d-md-block" alt="">
          </div>
          <div class="col-md-10">
            <div class="form-row">
              <div class="offset-md-1 col-md-5 col-12">
                <mat-form-field class="full-width-height">
                  <mat-label>Profesion</mat-label>
                  <mat-select formControlName="profesion">
                    <mat-option selected="selected" hidden value="">Elija una opcion</mat-option>
                    <mat-option *ngFor="let profesion of profesions | async" [value]="profesion.value">
                      {{ profesion.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-5 col-12">
                <mat-form-field class="full-width-height">
                  <mat-label>Orientacion</mat-label>
                  <mat-select formControlName="orientacion">
                    <mat-option selected="selected" hidden value="">Elija una opcion</mat-option>
                    <mat-option value="Computacion">Computación</mat-option>
                    <mat-option value="Mecanica">Mecánica</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="form-row">
              <div class="offset-md-1 col-md-5 col-12">
                <mat-form-field class="full-width-height">
                  <mat-label>Edad Minima</mat-label>
                  <input type="number" matInput formControlName="minAge" />
                </mat-form-field>
              </div>
              <div class="col-md-5 col-12">
                <mat-form-field class="full-width-height">
                  <mat-label>Edad Maxima</mat-label>
                  <input type="number" matInput formControlName="maxAge" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="sm-text-center offset-md-9 col-md-2">
          <button type="submit" mat-raiser-button class="btn">
            Buscar
          </button>
        </div>
      </form>
    </ng-template>
    <ng-template #mostrarResultados>
      <form [formGroup]="firstNameFormGroup" (ngSubmit)="searchWithFirstName()" class="mt-2 mb-3">
        <div class="form-row margen-divider">
          <div class="offset-md-1 col-md-8">
            <mat-form-field class="full-width-height">
              <mat-label>Nombre de Egresado</mat-label>
              <span matPrefix>
                <mat-icon>search</mat-icon>&nbsp;
              </span>
              <input type="text" matInput placeholder="Juan Perez" (change)="getSearchData($event)" />
            </mat-form-field>
          </div>
          <div class="sm-text-center col-md-2">
            <button type="submit" mat-raised-button class="btn">
              Buscar
            </button>
          </div>
        </div>
      </form>
      <form [formGroup]="optionsFormGroup" (ngSubmit)="getResultsWithOptions()" class="mt-2 mb-3">
        <mat-divider [inset]="true"></mat-divider>
        <div class="row mt-4">
          <div class="col-12">
            <div class="form-row">
              <div class="offset-md-1 col-md-4 col-12">
                <mat-form-field class="full-width-height">
                  <mat-label>Profesion</mat-label>
                  <mat-select formControlName="profesion">
                    <mat-option selected="selected" hidden value="">Elija una opcion</mat-option>
                    <mat-option *ngFor="let profesion of profesions | async" [value]="profesion.value">
                      {{ profesion.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-12">
                <mat-form-field class="full-width-height">
                  <mat-label>Orientacion</mat-label>
                  <mat-select formControlName="orientacion">
                    <mat-option selected="selected" hidden value="">Elija una opcion</mat-option>
                    <mat-option value="Computacion">Computación</mat-option>
                    <mat-option value="Mecanica">Mecánica</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="form-row">
              <div class="offset-md-1 col-md-4 col-12">
                <mat-form-field class="full-width-height">
                  <mat-label>Edad Minima</mat-label>
                  <input type="number" matInput formControlName="minAge" />
                </mat-form-field>
              </div>
              <div class="col-md-4 col-12">
                <mat-form-field class="full-width-height">
                  <mat-label>Edad Maxima</mat-label>
                  <input type="number" matInput formControlName="maxAge" />
                </mat-form-field>
              </div>
              <div class="sm-text-center col-md-2">
                <button type="submit" mat-raised-button class="btn">
                  Buscar
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="form-row">
          <div class="offset-md-1 col-md-10">
            <div class="form-row">
              <div class="col-md-4 col-12">
                <mat-form-field class="full-width-height">
                  <mat-label>Profesion</mat-label>
                  <mat-select formControlName="profesion">
                    <mat-option selected="selected" hidden value="">Elija una opcion</mat-option>
                    <mat-option *ngFor="let profesion of profesions | async" [value]="profesion.value">
                      {{ profesion.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-12">
                <mat-form-field class="full-width-height">
                  <mat-label>Edad Minima</mat-label>
                  <input type="number" matInput formControlName="minAge" />
                </mat-form-field>
              </div>
              <div class="col-md-4 col-12">
                <mat-form-field class="full-width-height">
                  <mat-label>Edad Maxima</mat-label>
                  <input type="number" matInput formControlName="maxAge" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row mb-2">
          <div class="offset-md-1 col-md-10">
            <div class="form-row">
              <div class="col-md-4 col-12">
                <mat-form-field class="full-width-height">
                  <mat-label>Orientacion</mat-label>
                  <mat-select formControlName="orientacion">
                    <mat-option selected="selected" hidden value="">Elija una opcion</mat-option>
                    <mat-option value="Computacion">Computación</mat-option>
                    <mat-option value="Mecanica">Mecánica</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="sm-text-center offset-md-5 col-md-3">
                <button type="submit" mat-raised-button class="btn">
                  Buscar
                </button>
              </div>
            </div>
          </div>
        </div> -->
      </form>
      <div *ngIf="resultadosDeBusqueda != null">
        <mat-divider [inset]="true"></mat-divider>
        <div *ngFor="let resultado of resultadosDeBusqueda" class="row pt-4">
          <div class="col-12 col-md-6">
            <div class="row set-pointer" [routerLink]="['/perfil-de-servicio-egresado', resultado.uid]">
              <div class="col-md-6 set-pointer">
                <img class="img-fluid foto col-md-12 rounded-circle d-none d-md-block" src="{{
                    resultado.photoURL
                      ? resultado.photoURL
                      : '../../../assets/images/user8.png'
                  }}" alt="{{ resultado.firstName }}" />
              </div>
              <div class="col-md-6 set-pointer">
                <h1 class="nombre">{{ resultado.firstName }} {{ resultado.lastName }}</h1>
                <h2 class="profesion">{{ resultado.profesion }}</h2>
                <h3 class="orientacion">{{ resultado.orientacion }}, {{ resultado.yearDeEgreso }}</h3>
                <!-- <h3 class="yearDeEgreso">{{ resultado.yearDeEgreso }}</h3> -->
                <h3 class="edad">{{ getEdad(resultado.birthday) }} años</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-card>
</div>
