<app-toolbar></app-toolbar>

<div class="margen container-fluid">
  <mat-card class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 mb-5 mt-5">
    <div class="row">
      <div class="col-12 col-md-4 mt-3 md-margen">
        <img class="offset-md-2 col-md-8 rounded-circle" src="{{
            user.photoURL ? user.photoURL : '../../../assets/images/user8.png'
          }}" alt="{{ user.firstName }}" />
        <div class="offset-md-3 mt-4 sm-alinear-centro">
          <h3 class="texto-datos">
            <p class="texto-dato">
              <img class="img-fluid mr-3" src="../../../../assets/images/correo.png"> {{ user.email }}
            </p>
            <p class="texto-dato">
              <img class="img-fluid mr-3" src="../../../../assets/images/cuitcuil.png"> {{ user.CUIT }}
            </p>
          </h3>
        </div>
      </div>
      <ng-container *ngIf="mostrar; then mostrarDatos; else editarDatos"></ng-container>
      <ng-template #mostrarDatos>
        <div class="col-12 col-md-8 px-0 margin-top-content mb-4">
          <div class="row">
            <div class="col-10 col-md-11">
              <h1 class="line-height-normal sm-text-left titulo vertical-align">
                {{ user.firstName }}
              </h1>
            </div>
            <div class="col-2 col-md-1 px-0">
              <button (click)="editar()" class="boton-editar vertical-align">
                <img mat-icon class="img-fluid" src="../../assets/images/editar.png">
              </button>
            </div>
            <div class="col-12">
              <ng-container *ngIf="user.lema; then mostrarLema; else sinLema"></ng-container>
              <ng-template #mostrarLema>
                <h3>
                  <p class="subtitulo-profesion mt-2 mb-3">
                    <strong>{{ user.lema }}</strong>
                  </p>
                </h3>
              </ng-template>
              <ng-template #sinLema>
                <h3>
                  <p class="subtitulo-profesion mt-2 mb-3">
                  <strong>Edite su perfil y agregue un lema</strong>
                  </p>
                </h3>
              </ng-template>
            </div>
            <div class="col 12">
              <ng-container *ngIf="user.descripcion; then mostrarDescripcion; else sinDescripcion"></ng-container>
              <ng-template #mostrarDescripcion>
                <h3>
                  <p class="descrip">
                    {{ descripcion }}
                  </p>
                </h3>
              </ng-template>
              <ng-template #sinDescripcion>
                <h3>
                  <p class="descrip">
                    Edite su perfil de empresa y agregue una descripción
                  </p>
                </h3>
              </ng-template>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #editarDatos>
        <div class="col-12 col-md-8 px-0 mt-4 mb-4">
          <div class="col-10 col-md-11">
            <h1 class="line-height-normal sm-text-left titulo vertical-align">
              Edite sus datos
            </h1>
          </div>
          <form [formGroup]="editarForm" (ngSubmit)="onEdit()" class="sm-margen mt-4 mb-3">
            <div class="form-row mb-2">
              <div class="offset-md-1 col-md-5 col-12 float-left">
                <mat-form-field class="full-width-height">
                  <mat-label>Nombre de la empresa</mat-label>
                  <input matInput formControlName="firstName" type="text" [(ngModel)]="user.firstName">
                  <mat-error *ngIf="firstNamePattern.hasError('required')">
                    El nombre es <strong>requerido</strong>
                  </mat-error>
                  <mat-error *ngIf="firstNamePattern.hasError('pattern') || firstNamePattern.hasError('minlength')">
                    El nombre solo esta compuesto por
                    <strong>letras</strong> y debe tener mínimo 2
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-row mb-2">
              <div class="offset-md-1 col-md-10 col-12">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Descripción</mat-label>
                  <textarea matInput formControlName="descripcion" [(ngModel)]="descripcion"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="form-row mb-2">
              <div class="offset-md-1 col-md-10 col-12">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Lema</mat-label>
                  <textarea matInput formControlName="lema" [(ngModel)]="user.lema"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="form-row mb-2">
              <div class="offset-md-1 col-md-5 col-12 float-left">
                <label for="Cambiar Foto">Foto de perfil</label>
                <input type="file" accept="image/jpeg, image/png, image/jpg" class="form-control-file" id="inputFile"
                  (change)="cambioArchivo($event)" />
              </div>
              <div class="col-md-5 col-12">
                <div class="row">
                  <div class="col-12 offset-md-1 col-md-5 mt-4 text-center">
                    <button class="btn btn-dark" type="submit">Guardar</button>
                  </div>
                  <div class="col-12 offset-md-1 col-md-5 mt-4 text-center">
                    <button class="btn btn-dark" (click)="editar()">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </mat-card>
</div>
