<app-toolbar></app-toolbar>

<div class="margen container-fluid">
  <mat-card class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 mb-5 mt-5">
    <ng-container *ngIf="usuarioIngresado; then datos; else noExiste"></ng-container>
    <ng-template #datos>
      <div class="row">
        <div class="col-12 col-md-4 mt-3 md-margen">
          <img class="offset-md-2 col-md-8 rounded-circle" src="{{
          usuarioIngresado.photoURL ? usuarioIngresado.photoURL : '../../../assets/images/user8.png'
          }}" alt="{{ usuarioIngresado.firstName }}" />
          <div class="offset-md-3 mt-4 sm-alinear-centro">
            <h3 class="texto-datos">
              <p class="texto-dato">
                <img class="img-fluid mr-3" src="../../../assets/images/sexo.png"> {{ usuarioIngresado.gender }}
              </p>
              <p class="texto-dato">
                <img class="img-fluid mr-3 -ml-009" src="../../../assets/images/nacimiento.png">
                {{ fechaDeNacimiento | date:"dd/MM/yyyy" }}
              </p>
              <p class="texto-dato">
                <img class="img-fluid mr-3 -ml-033" src="../../../assets/images/egreso.png">
                {{ usuarioIngresado.yearDeEgreso }}
              </p>
              <p class="texto-dato">
                <img class="img-fluid mr-3 -ml-033" src="../../../assets/images/orientacion.png">
                {{ usuarioIngresado.orientacion }}
              </p>
            </h3>
          </div>
        </div>
        <div class="col-12 col-md-8 px-0 margin-top-content mb-4">
          <div class="row">
            <div class="col-10 col-md-11">
              <h1 class="line-height-normal sm-text-left titulo vertical-align">
                {{ usuarioIngresado.firstName }} {{usuarioIngresado.lastName}}
              </h1>
            </div>
            <div class="col-2 col-md-1 px-0 contactar">
              <button class="boton-editar vertical-align">
                <img mat-icon class="imagen-contacto" src="../../assets/images/contactar.png">
              </button>
            </div>
            <div class="col-12">
              <p class="subtitulo-profesion mt-2 mb-3">
                <strong>{{ usuarioIngresado.profesion }}</strong>
              </p>
            </div>
            <div class="col 12">
              <h3>
                <p class="mt-3 descrip">
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                  nec ornare tortor, et volutpat augue. In tincidunt auctor nisl eget
                  condimentum. Donec id iaculis sapien. Vivamus pharetra facilisis
                  quam et sodales. Quisque congue, ipsum et sollicitudin laoreet,
                  mauris augue condimentum est, in placerat massa odio vel erat.
                  Mauris sit amet efficitur lorem, id volutpat diam."
                </p>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #noExiste>
      <div class="container text-center alinear-centro mt-3">
        <h1 class="line-height-normal alinear-centro text-center titulo vertical-align">
          El usuario no existe
        </h1>
      </div>
    </ng-template>
  </mat-card>
</div>
