<div class="row">
  <div class="offset-1 col-10 offset-md-2 col-md-8 mb-5 mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Crea tu cuenta</h1>
        <p class="text-center text-info">
          Inrgesa tus datos para crear tu perfil de empresa<br>y contratar los mejores egresados
        </p>
        <form [formGroup]="registerEmpresaForm" (ngSubmit)="onRegister()" class="mb-3">
          <div class="form-row mb-2">
            <div class="col">
              <label for="empresaName">Nombre *</label>
              <input type="text" class="form-control" id="empresaName" formControlName="empresaName" required>
              <p *ngIf="(empresaNamePattern.touched && empresaNamePattern.invalid)"
                class="form-text alert-danger text-center mt-2 pt-1 pb-1"><sup>*</sup>Your name should only be letters
                and have 2 letters at least...
              </p>
            </div>
            <div class="col">
              <label for="CUIT">CUIT/CUIL*</label>
              <input type="number" class="form-control" id="CUIT" formControlName="CUIT" required>
              <p *ngIf="(cuitPattern.touched && cuitPattern.invalid)"
                class="form-text alert-danger text-center mt-2 pt-1 pb-1"><sup>*</sup>CUIL/CUIT can only be
                numbers
              </p>
            </div>
          </div>
          <div class="form-row mb-3">
            <div class="col">
              <label for="email">Email address *</label>
              <input type="email" class="form-control" id="email" formControlName="email" />
              <p *ngIf="emailPattern.touched && emailPattern.invalid"
                class="form-text alert-danger text-center mt-2 pt-1 pb-1"><sup>*</sup>Please provide email</p>
              <p *ngIf="emailPattern.errors?.pattern" class="form-text alert-danger text-center mt-2 pt-1 pb-1">
                <sup>*</sup>Please enter correct email</p>
            </div>
            <div class="col">
              <label for="password">Password *</label>
              <input type="password" class="form-control" id="password" formControlName="password" />
              <p *ngIf="passwordPattern.touched && passwordPattern.invalid"
                class="form-text alert-danger text-center mt-2 pt-1 pb-1"><sup>*</sup>Password must be 8 characters long
              </p>
            </div>
          </div>
          <div *ngIf="errorMessage">
            <small class="form-text alert-danger text-center mt-2 pt-1 pb-1"> {{ errorMessage }} </small>
          </div>
          <button type="submit" class="btn btn-dark btn-block">Sign Up</button>
        </form>
        <p>
          <small>
            Already have an account?
            <a [routerLink]="['/login']">
              Sign In
            </a>
          </small>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- ACLARACIONES -->
<!-- El FormControlName esta asociado al nombre de las variables
  FormControl del register.component.ts -->

