<div class="margen container-fluid">
  <div class="sm-text-center offset-md-1 set-size-logo">
    <img src="../../assets/images/titulo.png" class="img-fluid">
  </div>
  <div *ngIf="user$ | async as user ; else loading">
    <mat-card class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 mb-5 mt-5">
      <mat-card-title class="text-center mt-4 mb-4">
        <h1 class="line-height-normal titulo">
          ¡Gracias por registrarse!
        </h1>
      </mat-card-title>
      <mat-card-content>
        <p class="text-center mt-5 line-height-normal roboto-light">
          Hemos recibido sus datos
        </p>
        <p class="text-center mt-3 line-height-normal roboto-light">
          Pronto enviaremos un email de verificación a
        </p>
        <p class="text-center line-height-normal roboto-light">
          <strong>{{ user?.email }}</strong>
        </p>
      </mat-card-content>
      <mat-card-actions class="mb-5">
        <div class="col-12 set-pointer">
          <div class="alinear-centro mt-4">
            <button (click)="onSendEmail()" class="btn btn-dark alinear-centro">Reenviar verificación</button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<ng-template #loading>
  <div class="text-center mt-5">
    <div class="spinner-border" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <h3 class="mt-3">
      <a [routerLink]="['/login']">
        Trate de logearse nuevamente!
      </a>
    </h3>
    <h3>
      <a [routerLink]="['/register']">
        Si no tiene una cuenta, registrese!
      </a>
    </h3>
  </div>
</ng-template>
