<app-toolbar></app-toolbar>
<div class="margen container-fluid">
  <div class="row">
    <div class="col-12 offset-md-2 col-md-8 mb-4 mt-3">
      <div class="row">
        <div class="col-12 col-md-6 sm-text-center">
          <h1 class="ml-4 titulo vertical-align">Administrar Títulos</h1>
        </div>
        <div class="col-6 offset-md-4 col-md-auto sm-text-center vertical-align float-right">
          <span (click)="abrirFormularioDeTitulo()" class="agregar-datos set-pointer float-right">+ Agregar
            Título</span>
        </div>
      </div>
    </div>
    <mat-card class="col-12 offset-md-2 col-md-8 mb-4">
      <div class="container">
        <mat-form-field>
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
      </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort matSortActive="Apellido" matSortDisableClear
          matSortDirection="desc">

          <!-- ID Column -->
          <!-- <ng-container matColumnDef="Título">
            <th mat-header-cell *matHeaderCellDef><span class="nombres-titulo">Título</span></th>
            <td mat-cell *matCellDef="let titulo" class="datos-titulo"> {{titulo.titulo}} </td>
          </ng-container> -->

          <!-- Progress Column -->
          <ng-container matColumnDef="DNI">
            <th mat-header-cell *matHeaderCellDef><span class="nombres-titulo">DNI</span></th>
            <td mat-cell *matCellDef="let titulo" class="datos-titulo"> {{titulo.DNI}} </td>
            <!-- <td mat-cell *matCellDef="let titulo"> -->
              <!-- <ng-container *ngIf="
                  editar == true && DNIParaEditar == titulo.DNI;
                  then editarDNI;
                  else mostrarDNI
                ">
              </ng-container>
              <ng-template #editarDNI>
                <input type="number" class="datos-titulo" [(ngModel)]="titulo.DNI" />
              </ng-template>
              <ng-template #mostrarDNI>
                <span class="datos-titulo">{{ titulo.DNI }}</span>
              </ng-template> -->
            <!-- </td> -->
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef><span class="nombres-titulo">Nombre</span></th>
            <!-- <td mat-cell *matCellDef="let titulo" class="datos-titulo"> {{titulo.nombre}} </td> -->
            <td mat-cell *matCellDef="let titulo">
              <ng-container *ngIf="
                  editar == true && DNIParaEditar == titulo.DNI;
                  then editarNombre;
                  else mostrarNombre
                ">
              </ng-container>
              <ng-template #editarNombre>
                <input type="text" class="datos-titulo" [(ngModel)]="titulo.nombre" />
              </ng-template>
              <ng-template #mostrarNombre>
                <span class="datos-titulo">{{ titulo.nombre }}</span>
              </ng-template>
            </td>
          </ng-container>

          <!-- Last Name Column -->
          <ng-container matColumnDef="Apellido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear><span
                class="nombres-titulo">Apellido</span></th>
            <!-- <td mat-cell *matCellDef="let titulo" class="datos-titulo"> {{titulo.apellido}} </td> -->
            <td mat-cell *matCellDef="let titulo">
              <ng-container *ngIf="
                  editar == true && DNIParaEditar == titulo.DNI;
                  then editarApellido;
                  else mostrarApellido
                ">
              </ng-container>
              <ng-template #editarApellido>
                <input type="text" class="datos-titulo" [(ngModel)]="titulo.apellido" />
              </ng-template>
              <ng-template #mostrarApellido>
                <span class="datos-titulo">{{ titulo.apellido }}</span>
              </ng-template>
            </td>
          </ng-container>

          <!-- Año de Egreso Column -->
          <ng-container matColumnDef="Año de Egreso">
            <th mat-header-cell *matHeaderCellDef><span class="nombres-titulo">Año de Egreso</span></th>
            <td mat-cell *matCellDef="let titulo" class="datos-titulo"> {{titulo.yearDeEgreso}} </td>
          </ng-container>

          <!-- Año de Egreso Column -->
          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let titulo" class="datos-titulo">
              <ng-container *ngIf="
                      editar == true && DNIParaEditar == titulo.DNI;
                      then botonGuardar;
                      else botonEditar
                    ">
              </ng-container>
              <ng-template #botonGuardar>
                <img src="../../../assets/images/editar.png" alt="aceptar"
                  class="text-center img-fluid set-pointer mr-2"
                  (click)="editarTitulo(titulo.DNI, titulo.nombre, titulo.apellido, titulo.yearDeEgreso)" />
                <img src="../../../assets/images/cruz.png" alt="cancelar" class="ml-2 text-center img-fluid set-pointer"
                  (click)="cancelarEdicion()" />
              </ng-template>
              <ng-template #botonEditar>
                <img src="../../../assets/images/editar.png" alt="editar" class="text-center img-fluid set-pointer"
                  (click)="editarTitulo(titulo.DNI, titulo.nombre, titulo.apellido, titulo.yearDeEgreso)" />
              </ng-template>
            </td>
          </ng-container>

          <!-- Año de Egreso Column -->
          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let titulo">
              <img src="../../assets/images/eliminar.png" alt="" class="ml-2 text-center img-fluid set-pointer"
                (click)="eliminarTitulo(titulo.DNI)">
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let titulo; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Nada coincide con "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" [length]="titulos.length"></mat-paginator>
      </div>
    </mat-card>
    <div class="col-12 offset-md-2 col-md-8 mb-5">
      <div class="row">
        <div class="col-12">
          <h1 class="line-height-normal titulo ml-4">
            Cargar a la Base de Datos
          </h1>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-auto ml-4">
              <input type="file" class="form-control-file vertical-align" id="inputFile"
                (change)="convertFile($event)" />
            </div>
            <div class="col-auto">
              <button (click)="subirArchivo()" class="btn vertical-align">Subir</button>
            </div>
            <div class="col-auto">
              <a [href]="'../../../assets/titulos.csv'" class="vertical-align like-a">
                Descargue una plantilla para los títulos
              </a>
            </div>
            <div class="col-auto">
              <a (click)="downloadJsonEgresados()" [href]="" class="vertical-align like-a">
                Descargue la data de los egresados
              </a>
            </div>
            <div class="col-auto">
              <a (click)="downloadJsonEmpresas()" [href]="" class="vertical-align like-a">
                Descargue la data de las empresas
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
