<!-- <div class="card mt-5">
  <div class="card-body">
    <h3 class="card-title text-center">Please enter your email</h3>
    <div class="form-group mt-4">
      <input type="email" class="form-control offset-md-2 col-md-8" [formControl]="userEmail" required>
    </div>
    <div class="form-group text-center mt-4">
      <button class="btn btn-primary btn-block btn-dark offset-md-2 col-md-8" (click)="onReset()">
        Request a password Reset
      </button>
    </div>
  </div>
</div> -->

<div class="margen container-fluid">
  <div class="sm-text-center offset-md-1 set-size-logo">
    <img src="../../assets/images/titulo.png" class="img-fluid">
  </div>
  <mat-card class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 mb-5 mt-5">
    <mat-card-title class="text-center mt-4 mb-4">
      <h1 class="line-height-normal titulo">
        Cambio de contraseña
      </h1>
    </mat-card-title>
    <mat-card-subtitle class="subtitulo line-height-normal text-center mt-1">
      Inrgesa su email para recibir un correo<br />para cambiar la contraseña
    </mat-card-subtitle>
    <form [formGroup]="passwordForm" (ngSubmit)="onReset()" class="mt-1 mb-3">
      <div class="form-row mb-2">
        <div class="offset-3 col-6">
          <mat-form-field class="full-width-height">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error *ngIf="emailPattern.invalid && !emailPattern.touched">
              Por favor, ingrese un email válido.
            </mat-error>
            <mat-error *ngIf="emailPattern.touched" >
              El email es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="form-row mt-4 mb-4" *ngIf="errorMessage">
        <div class="offset-2 col-8">
          <small class="form-text alert-danger text-center mt-2 pt-1 pb-1"> {{ errorMessage }} </small>
        </div>
      </div> -->
      <mat-card-actions class="mb-5">
        <div class="offset-3 col-6">
          <div class="alinear-centro mt-4">
            <button type="submit" class="btn btn-dark btn-block alinear-centro">Solicitar cambio</button>
          </div>
        </div>
        <!-- <div class="col-12 mt-4">
          <div class="alinear-centro mt-4">
            <p class="sm-text-center float-left mb-0">
              ¿No tienes una cuenta?
              <a [routerLink]="['/register']">
                Regístrate
              </a>
            </p>
          </div>
        </div> -->
      </mat-card-actions>
    </form>
  </mat-card>
</div>

<!-- ACLARACIONES -->
<!-- El FormControlName esta asociado al nombre de las variables
     FormControl del login.component.ts
-->
