<app-toolbar></app-toolbar>

<div class="margen container-fluid">
  <mat-card class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 mb-5 mt-5">
    <div class="row">
      <div class="col-12 col-md-4 mt-3 md-margen">
        <img class="offset-md-2 col-md-8 rounded-circle" src="{{
            user.photoURL ? user.photoURL : '../../../assets/images/user8.png'
          }}" alt="{{ user.firstName }}" />
        <div class="offset-md-3 mt-4 sm-alinear-centro">
          <h3 class="texto-datos">
            <p class="texto-dato">
              <img class="img-fluid mr-3" src="../../../assets/images/sexo.png"> {{ user.gender }}
            </p>
            <p class="texto-dato ">
              <img class="img-fluid mr-3 -ml-009" src="../../../assets/images/nacimiento.png"> {{ fechaDeNacimiento | date:"dd/MM/yyyy" }}
            </p>
            <p class="texto-dato">
              <img class="img-fluid mr-3 -ml-033" src="../../../assets/images/egreso.png"> {{ user.yearDeEgreso }}
            </p>
            <p class="texto-dato mt">
              <img class="img-fluid mr-3 -ml-033" src="../../../assets/images/orientacion.png"> {{ user.orientacion }}
            </p>
          </h3>
        </div>
      </div>
      <ng-container *ngIf="mostrar; then mostrarDatos; else editarDatos"></ng-container>
      <ng-template #mostrarDatos>
        <div class="col-12 col-md-8 px-0 margin-top-content mb-4">
          <div class="row">
            <div class="col-10 col-md-11">
              <h1 class="line-height-normal sm-text-left titulo vertical-align">
                {{ user.firstName }} {{user.lastName}}
              </h1>
            </div>
            <div class="col-2 col-md-1 px-0">
              <button (click)="editar()" class="boton-editar vertical-align">
                <img mat-icon class="img-fluid" src="../../assets/images/editar.png">
              </button>
            </div>
            <div class="col-12">
              <p class="subtitulo-profesion mt-2 mb-3">
                <strong>{{ user.profesion }}</strong>
              </p>
            </div>
            <div class="col 12 ">
              <h3 >
                <p class="mt-3 descrip">
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                  nec ornare tortor, et volutpat augue. In tincidunt auctor nisl eget
                  condimentum. Donec id iaculis sapien. Vivamus pharetra facilisis
                  quam et sodales. Quisque congue, ipsum et sollicitudin laoreet,
                  mauris augue condimentum est, in placerat massa odio vel erat.
                  Mauris sit amet efficitur lorem, id volutpat diam."
                </p>
              </h3>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #editarDatos>
        <div class="col-12 col-md-8 px-0 mt-4 mb-4">
          <form [formGroup]="editarForm" (ngSubmit)="onEdit()" class="sm-margen mt-5 mb-3">
            <div class="form-row mb-2">
              <div class="offset-md-1 col-md-5 col-12 float-left">
                <mat-form-field class="full-width-height">
                  <mat-label>Nombre</mat-label>
                  <input matInput formControlName="firstName" type="text" [(ngModel)]="userAux.firstName">
                  <mat-error *ngIf="firstNamePattern.hasError('required')">
                    El nombre es <strong>requerido</strong>
                  </mat-error>
                  <mat-error *ngIf="firstNamePattern.hasError('pattern') ||firstNamePattern.hasError('minlength')">
                    El nombre solo esta compuesto por
                    <strong>letras</strong> y debe tener minimo 2
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-5 col-12 float-right">
                <mat-form-field class="full-width-height">
                  <mat-label>Apellido</mat-label>
                  <input matInput formControlName="lastName" type="text" [(ngModel)]="userAux.lastName">
                  <mat-error *ngIf="lastNamePattern.hasError('required')">
                    El apellido es <strong>requerido</strong>
                  </mat-error>
                  <mat-error *ngIf="lastNamePattern.hasError('pattern') || lastNamePattern.hasError('minlength')">
                    El apellido solo esta compuesto por
                    <strong>letras</strong> y debe tener minimo 2
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-row mb-2">
              <div class="offset-md-1 col-md-5 col-12 float-left">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Genero</mat-label>
                  <mat-select [(ngModel)]="userAux.gender" formControlName="gender">
                    <mat-option value="Masculino">Masculino</mat-option>
                    <mat-option value="Femenino">Femenino</mat-option>
                    <mat-option value="Prefiero no decirlo">Prefiero no decrilo</mat-option>
                  </mat-select>
                  <mat-error *ngIf="genderPattern.hasError('required')">
                    El genero es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-5 col-12 float-right">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Fecha de Nacimiento</mat-label>
                  <input matInput formControlName="birthday" [(ngModel)]="fechaDeNacimiento" [matDatepicker]="picker" [max]="maxDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="birthdayPattern.hasError('matDatepickerParse')">
                    La fecha de nacimiento no es <strong>valida</strong>
                  </mat-error>
                  <mat-error *ngIf="
                      birthdayPattern.hasError('required') &&
                      !birthdayPattern.hasError('matDatepickerParse')
                    ">
                    La fecha es <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-row mb-2">
              <div class="offset-md-1 col-md-5 col-12 float-left">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Telefono</mat-label>
                  <span matPrefix>+45 &nbsp;</span>
                  <input matInput formControlName="cellphone" type="number" [(ngModel)]="userAux.cellphone" />
                  <mat-error *ngIf="cellphonePattern.hasError('required')">
                    El teléfono es <strong>requerido</strong>
                  </mat-error>
                  <mat-error *ngIf="cellphonePattern.hasError('pattern')">
                    El teléfono solo esta compuesto por <strong>numeros</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-5 col-12 float-right">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Profesion</mat-label>
                  <mat-select [(ngModel)]="userAux.profesion" formControlName="profesion">
                    <mat-option *ngFor="let profesion of profesions | async" [value]="profesion.value">{{ profesion.viewValue }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="profesionPattern.hasError('required')">
                    La profesion es <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-row mb-2">
              <div class="offset-md-1 col-md-5 col-12 float-left">
                <label for="Cambiar Foto">Foto de perfil</label>
                <input type="file" accept="image/jpeg, image/png, image/jpg" class="form-control-file"
                  id="inputFile" formControlName="photoURL" (change)="cambioArchivo($event)" />
              </div>
              <div class="col-md-5 col-12">
                <div class="row">
                  <div class="col-12 offset-md-1 col-md-5 mt-4 text-center">
                    <button class="btn btn-dark" type="submit">Guardar</button>
                  </div>
                  <div class="col-12 offset-md-1 col-md-5 mt-4 text-center">
                    <button class="btn btn-dark" (click)="editar()">Cancelar</button>
                  </div>
                  <!-- <div class="col-12 offset-md-1 col-md-5">

                    <button type="submit" class="btn btn-dark mr-1">Guardar</button>
                  </div>
                  <div class="col-12 offset-md-1 col-md-5 p-0">
                    <button class="btn btn-dark ml-1" (click)="editar()">Cancelar</button>
                  </div> -->
                </div>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </mat-card>
</div>
