<app-toolbar></app-toolbar>

<div class="margen container-fluid">
  <mat-card class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 mb-3 mt-5">
    <div class="row">
      <div class="col-12 col-md-4 mt-3 md-margen">
        <img class="offset-md-2 col-md-8 rounded-circle" src="{{
            user.photoURL ? user.photoURL : '../../../assets/images/user8.png'
          }}" alt="{{ user.firstName }}" />
        <div class="offset-md-3 mt-4 sm-alinear-centro">
          <h3 class="texto-datos">
            <p class="texto-dato">
              <img class="img-fluid mr-3" src="../../../assets/images/sexo.png" />
              {{ user.gender }}
            </p>
            <p class="texto-dato">
              <img class="img-fluid mr-3 -ml-009" src="../../../assets/images/nacimiento.png" />
              {{ fechaDeNacimiento | date: "dd/MM/yyyy" }}
            </p>
            <p class="texto-dato">
              <img class="img-fluid mr-3 -ml-033" src="../../../assets/images/egreso.png" />
              {{ user.yearDeEgreso }}
            </p>
            <p class="texto-dato mt">
              <img class="img-fluid mr-3 -ml-033" src="../../../assets/images/orientacion.png" />
              {{ user.orientacion }}
            </p>
          </h3>
        </div>
      </div>
      <ng-container *ngIf="mostrar; then mostrarDatos; else editarDatos"></ng-container>
      <ng-template #mostrarDatos>
        <div class="col-12 col-md-8 px-0 margin-top-content mb-4">
          <div class="row">
            <div class="col-10 col-md-11">
              <h1 class="line-height-normal sm-text-left titulo vertical-align">
                {{ user.firstName }} {{ user.lastName }}
              </h1>
            </div>
            <div class="col-2 col-md-1 px-0">
              <button (click)="editar()" class="boton-editar vertical-align">
                <img mat-icon class="img-fluid" src="../../assets/images/editar.png" />
              </button>
            </div>
            <div class="col-12">
              <p class="subtitulo-profesion mt-2 mb-3">
                <strong>{{ user.profesion }}</strong>
              </p>
            </div>
            <div class="col 12">
              <h3>
                <p class="mt-3 descrip">
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Vestibulum nec ornare tortor, et volutpat augue. In tincidunt
                  auctor nisl eget condimentum. Donec id iaculis sapien. Vivamus
                  pharetra facilisis quam et sodales. Quisque congue, ipsum et
                  sollicitudin laoreet, mauris augue condimentum est, in
                  placerat massa odio vel erat. Mauris sit amet efficitur lorem,
                  id volutpat diam."
                </p>
              </h3>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #editarDatos>
        <div class="col-12 col-md-8 px-0 mt-4 mb-4">
          <div class="col-10 col-md-11">
            <h1 class="line-height-normal sm-text-left titulo vertical-align">
              Edite sus datos
            </h1>
          </div>
          <form [formGroup]="editarForm" (ngSubmit)="onEdit()" class="sm-margen mt-4 mb-3">
            <div class="form-row mb-2">
              <div class="offset-md-1 col-md-5 col-12 float-left">
                <mat-form-field class="full-width-height">
                  <mat-label>Nombre</mat-label>
                  <input matInput formControlName="firstName" type="text" [(ngModel)]="userAux.firstName" />
                  <mat-error *ngIf="firstNamePattern.hasError('required')">
                    El nombre es <strong>requerido</strong>
                  </mat-error>
                  <mat-error *ngIf="
                      firstNamePattern.hasError('pattern') ||
                      firstNamePattern.hasError('minlength')
                    ">
                    El nombre solo esta compuesto por
                    <strong>letras</strong> y debe tener minimo 2
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-5 col-12 float-right">
                <mat-form-field class="full-width-height">
                  <mat-label>Apellido</mat-label>
                  <input matInput formControlName="lastName" type="text" [(ngModel)]="userAux.lastName" />
                  <mat-error *ngIf="lastNamePattern.hasError('required')">
                    El apellido es <strong>requerido</strong>
                  </mat-error>
                  <mat-error *ngIf="
                      lastNamePattern.hasError('pattern') ||
                      lastNamePattern.hasError('minlength')
                    ">
                    El apellido solo esta compuesto por
                    <strong>letras</strong> y debe tener minimo 2
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-row mb-2">
              <div class="offset-md-1 col-md-5 col-12 float-left">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Genero</mat-label>
                  <mat-select [(ngModel)]="userAux.gender" formControlName="gender">
                    <mat-option value="Masculino">Masculino</mat-option>
                    <mat-option value="Femenino">Femenino</mat-option>
                    <mat-option value="Prefiero no decirlo">Prefiero no decrilo</mat-option>
                  </mat-select>
                  <mat-error *ngIf="genderPattern.hasError('required')">
                    El genero es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-5 col-12 float-right">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Fecha de Nacimiento</mat-label>
                  <input matInput formControlName="birthday" [(ngModel)]="fechaDeNacimiento" [matDatepicker]="picker"
                    [max]="maxDate" />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="birthdayPattern.hasError('matDatepickerParse')">
                    La fecha de nacimiento no es <strong>valida</strong>
                  </mat-error>
                  <mat-error *ngIf="
                      birthdayPattern.hasError('required') &&
                      !birthdayPattern.hasError('matDatepickerParse')
                    ">
                    La fecha es <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-row mb-2">
              <div class="offset-md-1 col-md-5 col-12 float-left">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Telefono</mat-label>
                  <span matPrefix>+45 &nbsp;</span>
                  <input matInput formControlName="cellphone" type="number" [(ngModel)]="userAux.cellphone" />
                  <mat-error *ngIf="cellphonePattern.hasError('required')">
                    El teléfono es <strong>requerido</strong>
                  </mat-error>
                  <mat-error *ngIf="cellphonePattern.hasError('pattern')">
                    El teléfono solo esta compuesto por <strong>numeros</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-5 col-12 float-right">
                <mat-form-field class="full-width-height mt-2">
                  <mat-label>Profesion</mat-label>
                  <mat-select [(ngModel)]="userAux.profesion" formControlName="profesion">
                    <mat-option *ngFor="let profesion of profesions | async" [value]="profesion.value">
                      {{ profesion.viewValue }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="profesionPattern.hasError('required')">
                    La profesion es <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-row mb-2">
              <div class="offset-md-1 col-md-5 col-12 float-left">
                <label for="Cambiar Foto">Foto de perfil</label>
                <input type="file" accept="image/jpeg, image/png, image/jpg" class="form-control-file" id="inputFile"
                  formControlName="photoURL" (change)="cambioArchivo($event)" />
              </div>
              <div class="col-md-5 col-12">
                <div class="row">
                  <div class="col-12 offset-md-1 col-md-5 mt-4 text-center">
                    <button class="btn btn-dark" type="submit">Guardar</button>
                  </div>
                  <div class="col-12 offset-md-1 col-md-5 mt-4 text-center">
                    <button class="btn btn-dark" (click)="editar()">
                      Cancelar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </mat-card>
</div>

<div class="margen container-fluid">
  <mat-card class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 mb-3">
    <div class="row">
      <div class="col-12">
        <ng-container *ngIf="
            capacitaciones == null ||
              capacitaciones == undefined ||
              capacitacionesLength == 0;
            then mostrarSinCapacitaciones;
            else mostrarConCapacitaciones
          ">
        </ng-container>
        <ng-template #mostrarSinCapacitaciones>
          <div class="mt-2 mb-1">
            <mat-card-title class="mt-2 mb-4 ml-4 mr-4">
              <h1 class="line-height-normal titulo-categoria">
                Lleva tu perfil a otro nivel
              </h1>
            </mat-card-title>
            <div class="row">
              <div class="col-md-2">
                <img src="../../../../assets/images/agregar_experiencia.png" class="img-fluid ml-5 d-none d-md-block"
                  alt="" />
              </div>
              <div class="col-12 offset-md-1 col-md-9">
                <div class="row">
                  <div class="col-12">
                    <mat-card-subtitle class="subtitulo-capacitacion">Ingresa tus datos acerca de tu experiencia laboral
                      y
                      estudiantil para que las empresas <br />conozcan un poco
                      mas de vos
                    </mat-card-subtitle>
                  </div>
                  <div class="sm-text-center offset-md-7 col-md-5">
                    <button (click)="goToAgregarExperiencia()" mat-raiser-button class="btn-capacitacion">
                      Comenzar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template #mostrarConCapacitaciones>
          <div class="row">
            <div class="col-6 float-left">
              <h2 class="subtitulo-experiencia ml-2">Experiencia</h2>
            </div>
            <div class="offset-4 offset-md-5 col-2 col-md-1 px-0 float-right">
              <button (click)="editarCapacitaciones()" class="boton-editar vertical-align">
                <img mat-icon class="img-fluid sm-margen-bottom-editar" src="{{
                    mostrarEdicionCapacitaciones == false
                      ? '../../assets/images/editar.png'
                      : '../../assets/images/cruz.png'
                  }}" alt="agregar imagen de cruz" />
              </button>
            </div>
          </div>
          <ng-container *ngIf="
              mostrarEdicionCapacitaciones == false;
              then capacitacionesSinEditar;
              else capacitacionesQueSeEditen
            ">
          </ng-container>
          <ng-template #capacitacionesSinEditar>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-12" *ngFor="let capacitacion of capacitaciones">
                  <div class="row">
                    <div class="col-4 mt-2 mb-2 center">
                      <img src="{{
                          capacitacion.relacionDeCapacitacion == 'empresa'
                            ? '../../../assets/images/eleccion_empresa.png'
                            : '../../../assets/images/eleccion_egresado.png'
                        }}" alt="Eleccion egresado" class="img-fluid center" />
                    </div>
                    <div class="col-8 mt-2 mb-2">
                      <div>{{ capacitacion.lugarDeCapacitacion }}</div>
                      <div>{{ capacitacion.capacitacion }}</div>
                      <div>
                        {{ capacitacion.yearDeInicio }}&nbsp;-&nbsp;{{
                          capacitacion.yearDeFinal
                        }}
                      </div>
                    </div>
                  </div>
                  <mat-divider class="mb-2 divider"></mat-divider>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #capacitacionesQueSeEditen>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-12" *ngFor="let capacitacion of capacitaciones; index as i">
                  <div class="row" (click)="borrarCapacitacion(i)">
                    <div class="col-4 mt-2 mb-2 center">
                      <!-- <img src="{{
                        capacitacion.relacionDeCapacitacion == 'empresa' ? '../../../assets/images/eleccion_empresa.png' : '../../../assets/images/eleccion_egresado.png'
                      }}" alt="Eleccion egresado" class="img-fluid "> -->
                      <img src="../../assets/images/cruz.png" class="set-pointer center img-fluid" alt="" />
                    </div>
                    <div class="col-8 mt-2 mb-2">
                      <div>{{ capacitacion.lugarDeCapacitacion }}</div>
                      <div>{{ capacitacion.capacitacion }}</div>
                      <div>
                        {{ capacitacion.yearDeInicio }}&nbsp;-&nbsp;{{
                          capacitacion.yearDeFinal
                        }}
                      </div>
                    </div>
                  </div>
                  <mat-divider class="mb-2 divider"></mat-divider>
                </div>
              </div>
              <div class="row mt-3">
                <div class="container">
                  <div class="sm-text-center float-right sm-alinear-centro">
                    <button (click)="goToAgregarExperiencia()" mat-raiser-button class="btn-agregar-capacitacion">
                      Agregar experiencias
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </mat-card>
</div>

<div class="margen container-fluid">
  <mat-card class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 mb-5">
    <div class="row">
      <div class="col-6 float-left">
        <h2 class="subtitulo-experiencia ml-2">Redes</h2>
      </div>
      <div class="offset-4 offset-md-5 col-2 col-md-1 px-0 float-right">
        <button (click)="editarRedes()" class="boton-editar vertical-align">
          <img mat-icon class="img-fluid sm-margen-bottom-editar" src="{{
              mostrarEdicionRedes == false
                ? '../../assets/images/editar.png'
                : '../../assets/images/cruz.png'
            }}" alt="agregar imagen de cruz" />
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="offset-md-2 col-md-3">
            <div class="row">
              <div class="col-12 set-pointer" (click)="abrirFormularioDeBehance()">
                <img src="../../assets/images/behance_icon.png" class="img-fluid" alt="behance_icon" />
                <p class="text-center mt-3 pb-2 social-icons">Behance</p>
              </div>
              <div class="col-12 set-pointer" (click)="abrirFormularioDeFacebook()">
                <img src="../../assets/images/facebook_icon.png" class="img-fluid text-center sm-alinear-centro"
                  alt="facebook_icon" />
                <p class="text-center mt-3 social-icons">Facebook</p>
              </div>
            </div>
          </div>
          <div class="offset-md-2 col-md-3">
            <div class="row">
              <div class="col-12 set-pointer" (click)="abrirFormularioDeInstagram()">
                <img src="../../assets/images/instagram_icon.png" class="img-fluid text-center sm-alinear-centro"
                  alt="instagram_icon" />
                <p class="text-center mt-3 pb-2 social-icons">Instagram</p>
              </div>
              <div class="col-12 set-pointer" (click)="abrirFormularioDeFlickr()">
                <img src="../../assets/images/flickr_icon.png" class="img-fluid text-center sm-alinear-centro"
                  alt="flickr_icon" />
                <p class="text-center mt-3 social-icons">Flickr</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="row text-center">
          <div class="col-12 text-center">
            <div class="row text-center alinear-centro">
              <div class="github-icon-text set-pointer" (click)="abrirFormularioDeGithub()">
                <img src="../../assets/images/github_icon.png" class="img-fluid" alt="github_icon" />
                Github
              </div>
            </div>
          </div>
          <div class="col-12 mt-4 text-center" *ngIf="githubUser">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-4 center">
                    <img src="{{ githubUser.avatar_url }}" class="rounded-circle img-fluid center" alt="" />
                  </div>
                  <div class="col-8">
                    <a href="{{githubUser.html_url}}" class="row center">
                      <div class="container nombre-github mt-1">
                        {{ githubUser.name }}
                      </div>
                      <div class="container localizacion-github mt-1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                            d="M12.166 8.94C12.696 7.867 13 6.862 13 6A5 5 0 0 0 3 6c0 .862.305 1.867.834 2.94.524 1.062 1.234 2.12 1.96 3.07A31.481 31.481 0 0 0 8 14.58l.208-.22a31.493 31.493 0 0 0 1.998-2.35c.726-.95 1.436-2.008 1.96-3.07zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                          <path fill-rule="evenodd"
                            d="M8 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg> {{ githubUser.location }}
                      </div>
                    </a>
                    <div class="row text-center mt-2">
                      <div class="col-4 text-center">
                        <div class="row text-center github-number">{{githubUser.followers}}</div>
                        <div class="row text-center github-text">Seguidores</div>
                      </div>
                      <div class="col-4 text-center">
                        <div class="row text-center github-number">{{githubUser.following}}</div>
                        <div class="row text-center github-text">Seguidos</div>
                      </div>
                      <div class="col-4 text-center">
                        <div class="row text-center github-number">{{githubUser.public_repos}}</div>
                        <div class="row text-center github-text">Repositorios</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body pt-2">
                <div class="container mt-1 texto-repositorio">
                  Top Repositories
                </div>
                <div class="row">
                  <div class="col-4 mt-3" *ngFor="let repo of githubRepos">
                    <a href="{{repo.html_url}}" class="line-height-normal text-center nombre-repo">
                      {{repo.name}}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<!-- <div class="margen container-fluid">
  <mat-card class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 mb-5">
    <div class="row">
      <div class="col-6 float-left">
        <h2 class="subtitulo-experiencia ml-2">
          Redes Sociales
        </h2>
      </div>
      <div class="offset-4 offset-md-5 col-2 col-md-1 px-0 float-right">
        <button class="boton-editar vertical-align">
          <img mat-icon class="img-fluid sm-margen-bottom-editar"
            src="{{mostrarEdicionCapacitaciones == false ? '../../assets/images/editar.png' : '../../assets/images/cruz.png'}}"
            alt="agregar imagen de cruz">
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 text-center alinear-centro px-0">
        <ng-container *ngIf="user.githubUsername ; then mostrarCard ; else agregarGithub"></ng-container>
        <ng-template #mostrarCard>
          <div class="github-widget px-0" data-username="lucasrouco"></div>
        </ng-template>
        <ng-template #agregarGithub>
          <div class="container-fluid">
            <form [formGroup]="githubForm" (ngSubmit)="onAddGithub()" class="sm-margen mt-5 mb-3">
              <div class="form-row mb-2">
                <mat-form-field class="full-width-height">
                  <mat-label>usuario de github</mat-label>
                  <input matInput formControlName="githubUsername" type="text">
                </mat-form-field>
              </div>
              <button type="submit" mat-raiser-button class="btn-agregar-capacitacion">
                Agregar github
              </button>
            </form>
          </div>
        </ng-template>
      </div>
      <div class="col-12 col-md-6 text-center alinear-centro px-0">
        <div class="github-widget" data-username="lucasrouco"></div>
      </div>
    </div>
  </mat-card>
</div> -->
