<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">
    <!-- Main content -->
    <main role="main" class="offset-md-1 col-md-10 px-4">
      <div class="inner-adjust">
        <div class="pt-3 mb-3 border-bottom">
          <h1 class="h2">User Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row">
          <div class="col-md-12">
            <ng-container *ngIf="empresaIngresada; then datos; else noExiste"></ng-container>
            <ng-template #datos>
              <div class="media">
                <img class="col-md-6 align-self-start mr-5 rounded-circle" src="{{
                  empresaIngresada.photoURL ? empresaIngresada.photoURL : '../../../assets/dummy-user.png'
              }}" alt="{{ empresaIngresada.empresaName }}" />
                <div class="media-body col-md-6">
                  <h3>
                    <p>
                      Nombre: <strong>{{ empresaIngresada.empresaName }}</strong>
                    </p>
                    <p>
                      CUIT/CUIL: <strong>{{ empresaIngresada.CUIT }}</strong>
                    </p>
                    <p>
                      Email: <strong>{{ empresaIngresada.email }}</strong>
                    </p>
                  </h3>
                  <button type="button" class="btn btn-success btn-block">Contactar</button>
                </div>
              </div>
            </ng-template>
            <ng-template #noExiste>
              <h1>No existe esta empresa</h1>
            </ng-template>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
