html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #e2dede;
}
a{
  color: inherit;
}
.mat-step-icon-selected, .mat-step-icon-state-done, .mat-step-icon-state-edit, .mat-calendar-body-selected {
  background-color: #51799f !important;
  color: #ffffff;
}
